<form class="flex flex-wrap" hx-post="/contact/1" hx-trigger="submit" hx-swap="outerHTML" x-init="if ('{{JSONstringify notify }}') { $dispatch('notify', {{JSONstringify notify }}) }">
    <div class="w-full p-2 md:w-1/2">
        {{> field/text label="Name" id="name" name="name" class="relative" placeholder="Your name" color="primary" required=true }}
    </div>
    <div class="w-full p-2 md:w-1/2">
        {{> field/email label="Email" id="contact-email" name="contact-email" class="relative" placeholder="Your email" color="primary" required=true }}
    </div>
    <div class="w-full p-2">
        {{> field/textarea class="relative" height=32 id="message" name="message" transition=true placeholder="Tell us everything..." label="Message" no-resize=true required=true }}
    </div>
    <div class="flex justify-center w-full p-2">
        {{> button/secondary-3 label="Send" block=true outlined=true data-loading-disable=true data-loading-text="Envoi en cours..." data-loading-aria-busy=true data-loading-icon="lottie/loading-1"}}
    </div>
</form>