<form class="flex flex-col gap-y-4" hx-post="/api/cart/add-item" data-loading-path="/api/cart/add-item" hx-target="body" hx-vals='{ "id" : {{ product.id }} }' hx-trigger="submit" hx-swap="beforeend">
  {{> product/variants }}
  <div class="flex items-center justify-between">
    {{> button/primary-3 type="submit" block=true label="Add to Cart" data-loading-disable=true data-loading-text="Adding in cart..." data-loading-aria-busy=true
    data-loading-icon="lottie/loading-1" }}
  </div>
</form>