<form hx-post="/api/subscription/1"
    hx-trigger="submit"
    data-loading-path="/api/subscription/1"
    class="flex flex-wrap items-center justify-center gap-y-2 md:gap-y-0 md:gap-x-2 md:flex-nowrap md:justify-start">
    {{> field/email data-loading-disable=true 
            class="relative w-auto shrink" value=form.subscription
            name="subscription" placeholder="Type your email here"
            required=true }}
    {{> button/primary-3
            outlined=true
            label="Subscribe"
            type="submit"
            data-loading-icon="lottie/loading-1"
            data-loading-text="Chargement"
            data-loading-aria-busy=true
            data-loading-disable=true
    }}
    {{> modal/subscription-error }}
</form>