{{!< main }}
<section class="relative py-24 text-gray-600 body-font">
  {{> element/seo }}
  <div class="container p-8 mx-auto border-2 rounded-md">
    <h3 class="mb-5 font-medium tracking-widest text-center text-gray-900 uppercase title-font">categories</h3>
    {{> nav/category-list }}
  </div>
</section>