{{!< main }}
{{#> element/page }}
  <div class="container px-5 py-10 mx-auto">
    {{> hero/base-1 class="px-4 py-10 mb-10 border rounded-lg shadow-md"  title="Master Cleanse Reliac Heirloom" subtitle=(object color="warning" text="ROOF PARTY POLAROID") text="Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag."}}
    {{#> collapse/plus summary=(partial 'title/default' text="Test collapse" tag="h3")}}
      <p class="p-2 border">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error perspiciatis voluptate magnam voluptas aspernatur
        deleniti, unde et saepe, sint iste corrupti exercitationem asperiores autem, molestias amet quisquam quidem velit
        tenetur quos! Ipsum beatae ut odio et porro deleniti, harum ipsa vero quaerat, delectus amet architecto illum
        accusantium! Eum, id. Accusantium quos tenetur asperiores soluta iste ea repellat culpa dignissimos consectetur
        velit natus nulla sapiente est quaerat fugit error omnis nam sequi, similique, consequatur placeat eaque ut eos
        dolorem! Illum itaque tempora, quisquam consequatur, maiores placeat enim omnis velit saepe atque, corrupti vero.
        Deserunt fuga pariatur consectetur error voluptatem eligendi magni hic, rem voluptate ab, inventore quidem sit
        fugiat unde ea beatae. Iste aspernatur consequuntur, nam rerum at optio natus sit architecto earum aliquid
        explicabo?
      </p>
    {{/collapse/plus}}
    <div class="flex flex-wrap divide-y-2 lg:divide-y-0 lg:divide-x-2">
      {{> block/base-2 title="Shooting Stars" link=(object color="primary" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
      {{> block/base-2 title="Shooting Stars" link=(object color="info" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
      {{> block/base-2 title="Shooting Stars" link=(object color="success" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
      {{> block/base-2 title="Shooting Stars" link=(object color="danger" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
    </div>
  </div>
{{/element/page}}