{{!< main }}
{{#> element/seo }}
  <div class="container px-5 py-10 mx-auto">
    {{> hero/base-1 class="px-4 py-10 mb-10 border rounded-lg shadow-md"  title="Master Cleanse Reliac Heirloom" subtitle=(object color="warning" text="ROOF PARTY POLAROID") text="Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag."}}
    <div class="flex flex-wrap divide-y-2 lg:divide-y-0 lg:divide-x-2">
      {{> block/base-2 title="Shooting Stars" link=(object color="primary" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" link=(object color="info" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" link=(object color="success" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}    
      {{> block/base-2 title="Shooting Stars" link=(object color="danger" url="/" label="Learn More") text="Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche."}}
    </div>
  </div>
{{/element/seo}}