<nav class="list-none columns-2 md:columns-3 xl:columns-4" hx-boot="true">
  {{#each (sort brands) as |brand|}}
    {{#if brand}}
      <li>
        {{> link/default bold=true label=brand href=(chain "/brands/" brand) }}
      </li>
    {{/if}}
  {{/each}}
</nav>