<li hx-boost="true">
  <a
    href="{{ route.url }}"
    hx-push-url="true"
    hx-target="#content"
    hx-swap="innerHTML"
    hx-trigger="click"
    hx-indicator="#loader, #content"
    :class="currentRoute.startsWith('{{ route.url }}') && 'border-b-2 border-gray-800'"
    class="cursor-pointer hover:text-gray-900"
  >
    <span>{{ route.label }}</span>
  </a>
</li>
