<div class="hidden md:block">
    <nav class="flex flex-wrap items-center justify-center text-base list-none gap-x-4 md:ml-auto md:mr-auto">
        {{#each (routes) as |route|}}
            {{> nav/item route=route }}
        {{/each}}
    </nav>
</div>