<div class="items-center hidden gap-4 md:flex" hx-get="/auth/check?component=header" hx-swap="outerHTML" hx-trigger="check-auth from:body">
  {{#if isAuthenticated}}
    {{> dropdown/user }}
  {{else}}
    {{> auth/trigger component=(partial 'button/primary-3' label="Login" icon=(object component=(partial 'icon/enter' fill="none")) ) }}
  {{/if}}
</div>