<div class="flex flex-col items-center justify-center py-4 border-t gap-y-4" hx-get="/auth/check?component=sidebar" hx-swap="outerHTML" hx-trigger="check-auth from:body">
  {{#if isAuthenticated}}
    <h4 class="text-center">Hi <b>{{ user.username }}</b></h4>
    {{> image/avatar size=22 src=user.image border="border" }}
    {{> nav/user-dropdown }}
  {{else}}
    {{> auth/trigger component=(partial 'button/primary-3' label="Login" icon=(object component=(partial 'icon/enter' fill="none")) ) }}
  {{/if}}
</div>