@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./base/typography.css";
@import "./components/button.css";
@import "./components/input.css";
@import "./components/link.css";
@import "tailwindcss/utilities";
@import "./utilities/layout.css";
@import "./utilities/transition.css";

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  overflow-y: hidden;
  position: relative;
}

[data-loading] {
  display: none;
}

.htmx-indicator {
  display: none;
}
.htmx-request .htmx-indicator {
  display: flex;
}
.htmx-request.htmx-indicator {
  display: flex;
}
.htmx-request #content {
  display: none;
}
.htmx-request#content {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal, .sidebar {
	@apply fixed top-0 bottom-0 left-0 right-0 z-50 flex flex-col items-center justify-center bg-black/50;

	/* Animate when opening */
	animation: fadeIn 150ms ease forwards;
}

.underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	@apply absolute top-0 bottom-0 left-0 right-0 -z-10 bg-black/50;
}

.modal > .modal-content {
	@apply relative flex flex-col justify-between w-4/5 max-w-2xl p-2 bg-white rounded-md;

	/* Animate when opening */
	animation:zoomIn 250ms ease;
}

.sidebar > .sidebar-content {
	@apply fixed top-0 flex flex-col w-full h-screen max-w-xl overflow-y-hidden bg-white;
}

.sidebar > .slide-to-left {
	@apply left-0;
	animation: slideLeftIn 500ms ease forwards;
}

.sidebar > .slide-to-right {
	@apply right-0;
	animation: slideRightIn 500ms ease forwards;
}

.modal.closing, .sidebar.closing {
	/* Animate when closing */
	animation: fadeOut 500ms ease forwards;
}

.modal.closing > .modal-content {
	/* Animate when closing */
	animation: zoomOut 250ms ease forwards;
}

.sidebar.closing > .slide-to-left {
	/* Animate when closing */
	animation: slideLeftOut 500ms ease forwards;
}

.sidebar.closing > .slide-to-right {
	/* Animate when closing */
	animation: slideRightOut 500ms ease forwards;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 

@keyframes slideLeftIn {
	0% {transform: translateX(-100%);}
	100% {transform: translateX(0);}
} 

@keyframes slideLeftOut {
	0% {transform: translateX(0);}
	100% {transform: translateX(-100%);}
} 

@keyframes slideRightIn {
	0% {transform: translateX(100%);}
	100% {transform: translateX(0);}
} 

@keyframes slideRightOut {
	0% {transform: translateX(0);}
	100% {transform: translateX(100%);}
} 