<div class="relative">
  <select name="{{ name }}"
      class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
    {{#each items as |item|}}
      <option value="{{ item }}">{{ item }}</option>
    {{/each}}
  </select>
  <span
      class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
    {{> icon/chevron-down fill="none" }}
  </span>
</div>