{{!< main }}
{{> element/seo }}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="w-full mb-6 lg:w-1/2 lg:mb-0">
        <h2 class="mb-2 font-medium text-gray-900 title-font">Pitchfork Kickstarter Taxidermy</h2>
        <div class="w-20 h-1 rounded bg-primary-500"></div>
      </div>
      <p class="w-full leading-relaxed text-gray-500 lg:w-1/2">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
    </div>
    <div class="flex flex-wrap">
      {{#each cards as |card|}}
        <div class="p-4 xl:w-1/4 md:w-1/2">
          {{> element/card
            image=(object src=card.src alt=card.alt)
            title=card.title subtitle=card.subtitle image-full=true
            content=card.content}}
        </div>
      {{/each}}
    </div>
  </div>
</section>