<a hx-boost="true"
    href="/login"
    hx-push-url="true"
    hx-target="#content"
    hx-trigger="click"
    hx-indicator="#loader, #content"
    class="flex items-center font-medium text-gray-900 cursor-pointer title-font md:mb-0"
>
    {{> icon/brand-logo }}
    <span class="hidden ml-3 text-xl lg:inline">Tailblocks</span>
</a>