{{#let spread=this URLSplit=(split currentURLPathname "/")}}
  <nav class="w-full mt-4 text-lg text-center">
    {{#each (after URLSplit 1) as |path|}}
      {{#if @last}}
        <span>{{ ../breadcrumb-text }}</span>
      {{else}}
        <span class="capitalize">
          {{> link/info href=(chain "/" path) label=path }}
        </span>
        <span>></span>
      {{/if}}
    {{/each}}
  </nav>
{{/let}}