<header class="text-gray-600 border-b body-font">
  <div class="container flex flex-row-reverse items-center justify-between p-5 mx-auto md:flex-row">
    {{> element/brand }}
    {{> nav/menu-list }}
    {{> sidebar/menu }}
    <div class="flex gap-x-4">
      {{!-- <button class="px-4 bg-transparent" hx-get='/api/cart/2' hx-target='body' hx-swap='beforeend' hx-trigger='click'> --}}
      <button class="px-4 bg-transparent" hx-get='/cart/2' hx-push-url="true" hx-target='body' hx-swap='beforeend' hx-trigger='click'>
        {{> icon/cart fill="none" size=8 }}
      </button>
      {{> auth/header }}
    </div>
  </div>
</header>