<header class="text-gray-600 border-b body-font">
  <div class="container flex flex-row-reverse items-center justify-between p-5 mx-auto md:flex-row">
    {{> element/brand }}
    {{> nav/menu-list }}
    {{> sidebar/menu }}
    <div class="flex gap-x-4">
      <div hx-get="/api/cart/update-cart-btn" hx-trigger="load, update-cart-btn from:body">
        {{> button/cart }}
      </div>
      {{> auth/header }}
    </div>
  </div>
</header>