<div {{#if id}}id="{{id}}"{{/if}}
    x-show="open"
    class="fixed top-0 left-0 z-40 flex items-center justify-center w-screen h-screen"
>
    <div x-show="open" x-transition:enter="transition ease-in-out duration-1000 sm:duration-700"
        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-1"
        x-transition:leave="transition ease-in-out duration-1000 sm:duration-700" x-transition:leave-start="opacity-1"
        x-transition:leave-end="opacity-0" class="fixed top-0 left-0 w-screen h-screen bg-black/60 dark:bg-white/60">
    </div>
    <div x-bind="dialogue"
        x-transition:enter="transition ease-in-out duration-1000 sm:duration-700"
        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-1"
        x-transition:leave="transition ease-in-out duration-1000 sm:duration-700" x-transition:leave-start="opacity-1"
        x-transition:leave-end="opacity-0"
        class="relative max-w-lg bg-white shadow z-41 max-h-lg sm:rounded-lg {{ class }}"
    >
        <section x-show="!lock" class="absolute p-2 bg-white border rounded-full -top-4 -right-4 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
            {{> button/simple x-bind="closer" icon=(object component=(partial "icon/close" size=6 stroke="none")) sr-only="Close modal" class="inline-flex items-center p-1 text-sm text-gray-700 bg-transparent" }}
        </section>
        {{#if modal.title }}
            {{ modal.title }}
        {{/if}}
        <div class="overflow-y-auto">
            {{ modal.component }}
        </div>
    </div>
</div>
