<a class="text-gray-500">
  {{> icon/facebook color="text-secondary" stroke="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icon/twitter color="text-secondary" stroke="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icon/instagram color="text-secondary" fill="none" size=10 }}
</a>
<a class="text-gray-500">
  {{> icon/linkedin color="text-secondary" stroke="none" size=10 viewBox="0 0 24 24" }}
</a>