{{!< main }}
{{#> element/seo }}
    <div class="flex items-center justify-center min-h-full px-4 py-12 sm:px-6 lg:px-8">
        <div class="w-full max-w-md">
            {{> form/login }}        
        </div>
    </div>
{{/element/seo}}