{{!< main }}
{{#> element/page }}
   <div class="container relative items-start justify-center hidden w-full mx-auto md:flex md:p-4 lg:p-16 lg:w-3/4 md:gap-x-4 lg:gap-x-16">
    {{> faq/menu }}
    {{> faq/content }}
   </div>
   <div class="flex items-center justify-center h-full p-4 md:hidden">
    {{> faq/menu-mobile }}
   </div>
{{/element/page }}