<div id="product-action" class="flex flex-col gap-y-4" hx-get="/products/update-action" hx-trigger="product-update-action from:body" hx-swap="outerHTML">
  <p class="flex items-center justify-center">{{cond (lt meta.count meta.total) meta.count meta.total }} items over {{ meta.total }}</p>
  {{#unless (gte meta.count meta.total)}}
    <div class="flex items-center justify-center">
      {{> button/simple
            hx-boost="false"
            hx-target="#product-list"
            hx-get=(urlPath (urlFromParams (chain (baseUrl) "/products/more") limit=meta.limit count=(add meta.count meta.limit)))
            hx-swap="beforeend scroll:bottom"
            data-loading-disable=true data-loading-text="Adding product..." data-loading-aria-busy=true
            data-loading-icon="lottie/loading-1"
            label="See more"
      }}
    </div>
  {{/unless}}
</div>