<div class="flex items-center justify-between">
  {{> variant/color label="Color" name="color" items=(toArray "bg-red-500" "bg-green-500" "bg-blue-500") }}
  {{> variant/select label="Size" name="size" items=(toArray "S" "M" "L" "XL") }}
</div>