{{#> element/modal noCloseButton=true header=(partial 'title/success' class='text-center underline underline-offset-2' tag='h2' text='Cart')}}
   <div class="mx-auto lg:max-w-md">
      <h4>You successfully added this item to your cart :</h4>
      <ul class="pl-4 mb-8 border-l-2">
         {{#each cart.products as |item|}}
            <li>
               <h4>{{ item.title }}</h4>
               <p>- Total price: ${{ item.price }} x {{ item.quantity }} = ${{item.total }}</p>
            </li>
         {{/each}}
      </ul>
      {{> button/primary-3 block=true onclick=(chain 'modal.close("' modal-id '")') label='See cart' hx-get='/cart' hx-target='body' hx-swap='beforeend' hx-trigger='click' }}
   </div>
{{/element/modal}}