{{#> element/modal noCloseButton=true header=(partial 'title/success' class='text-center underline underline-offset-2' tag='h2' text='Cart')}}
   <div class="p-2 mx-auto lg:max-w-md xs:p-8">
      <h4>You successfully added this item to your cart :</h4>
      <section class="pl-4 mb-8 border-l-2">
         <h4>{{ item.title }}</h4>
         <p>- Total price: ${{ item.price }} x {{ item.quantity }} = ${{item.total }}</p>
      </section>
      {{> button/primary-3 block=true label='See cart' hx-get='/cart' hx-target="#content" hx-swap='beforeend' x-bind="closer" }}
   </div>
{{/element/modal}}