{{!-- <div x-data="drawer" x-effect="open = errorMap.has('subscription')">
  {{> element/modal
    modal=(object
    title=(partial 'title/default'
      text="Subscription"
      class="text-lg text-center mb-4")
    component=(partial 'error/subscription'))
    class="p-8"
  }}
</div> --}}