{{#> title/base class='relative flex items-start'}}
   <span class="px-4">{{> icon/check-circle fill='none' size=10 color='text-green-500' }}</span>
   <span class="grow {{ class }}">{{ text }}</span>
{{/title/base}}