<div id="loader" class="relative flex items-center justify-center w-full h-full py-4 text-xl font-semibold htmx-indicator">
    <div class="relative w-full h-full max-w-xl mx-auto rounded-full border-12 max-h-max border-primary-300">
        <span class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
            {{> lottie/sandtime }}
        </span>
    </div>
</div>