<div class="flex gap-x-3 lg:flex-col lg:gap-x-0">
  {{#if label}}
    <span>{{ label }}</span>
  {{/if}}
  <div class="flex gap-x-1">
    {{#each items as |color|}}
      {{> input/radio name=../name id=(chain color "-" (uuid)) value=color checked=(eq @index 0) required=true class=(chain color " border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none appearance-none checked:border-secondary") }}
    {{/each}}
  </div>
</div>