{{!< main }}
{{#> element/page }}
  <div class="container relative block w-full mx-auto lg:py-12">
    <h2 class="mb-4 text-center">{{ title }}</h2>
    {{> product/content }}
  </div>
{{/element/page}}