<button class="flex items-center gap-x-2 px-4 py-2 md:py-1 bg-transparent {{cond cart 'border rounded' ''}}" hx-push-url="true" hx-get='/cart' hx-target='#content' hx-swap='beforeend'>
  {{> icon/cart fill="none" size=8 }}
  {{#if cart}}
     {{> element/badge value=cart.totalProducts padding="px-2" background="bg-warning-500" }}
  {{/if}}
</button>