<button type="button" class="inline-flex items-center p-1 text-sm text-gray-700 bg-transparent rounded-lg hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" >
    {{> icon/close }}
    <span class="sr-only">Close menu</span>
</button>