{{#button spread=this}}
  <span class="flex items-center justify-center"
    {{#if data-loading-icon}}data-loading-class="hidden"{{/if}}
  >
    {{> icon/heart-circle bg-icon-color=bg-icon-color fill=(cond liked undefined "none") size=6 color="text-white"}}
  </span>
  {{#if data-loading-icon}}
    <span id="loading-icon"
      data-loading
    >
      {{partial (toString data-loading-icon) size=10}}
    </span>
  {{/if}}
{{/button}}