<button type="button" hx-get="/sidebar/menu" hx-target="body" hx-swap="beforeend"
    class="inline-flex items-center text-sm text-gray-700 rounded-lg md:hidden hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open main menu</span>
    <span class="flex items-center justify-center border border-secondary">{{> icon/menu-mobile color="text-secondary" stroke="none" size=10 viewBox="0 0 20 20" }}</span>
</button>