{{#if cart}}
  <div class="relative flex flex-col justify-between w-full mx-auto md:p-4">
    <div class="flex overflow-hidden">
      {{> cart/list items=cart.products }}
    </div>
    <div class="relative px-4 md:px-0">
      <div class="py-6 text-lg font-bold">
        <p class="flex items-center justify-between gap-x-8">
          <span>Total items :</span>
          <span>{{ cart.totalProducts }}</span>
        </p>
        <p class="flex items-center justify-between gap-x-8">
          <span>Total price : </span>
          <span>${{ cart.total }}</span>
        </p>
        {{#if cart.discountedTotal}}
          <p class="flex items-center justify-between text-info-500 gap-x-8">
            <span>Your discount : </span>
            <span>${{ cart.discountedTotal }}</span>
          </p>
        {{/if}}
      </div>
      <div class="flex flex-col items-center justify-center pb-4 gap-y-4 md:pb-0">
        <a href="/checkout" class="w-full p-4 text-xl text-center shadow-sm btn btn-primary">
          <span class="underline underline-offset-4">Go to checkout</span>
          {{> icon/arrow-right fill='none' }}
        </a>
        {{> button/simple class="link disabled:bg-gray-100 disabled:border-none disabled:cursor-not-allowed" label="Empty cart" }}
      </div>
    </div>
  </div>
{{else}}
  <div class="flex flex-col items-center justify-center w-full">
    <h3>Nothing to see yet.</h3>
    {{> button/secondary-3 label="Close and start shopping" onclick=(chain 'sidebar.close("' sidebar-id '", true)') }}
  </div>
{{/if}}