<div x-data="{ expanded: false }" class="{{ class }}">
   <div @click="expanded = !expanded" class="flex items-start cursor-pointer gap-x-4" :title="expanded ? 'close' : 'open'">
      <span class="flex items-start w-auto transition duration-500"
          :class="expanded ? 'rotate-[450deg]' : 'rotate-0'">{{> icon/chevron-right }}</span>
      {{ summary }}
   </div>
   <div x-show="expanded" x-collapse.500ms>
      {{> @partial-block }}
   </div>
</div>