<div id="{{ name }}" class="w-full">
  {{#if name}}
    <h4 class="text-center uppercase border-b md:text-left">{{capitalize name}}</h4>
  {{/if}}
  {{#each questions }}
    {{#> collapse/chevron-right class="border rounded bg-slate-100" summary=(partial 'title/default' tag='h3' text=question)}}
      <p class="p-4">
        {{ answer }}
      </p>
    {{/collapse/chevron-right}}
  {{/each}}
</div>