<div id="delivery">
  <h4 class="text-center uppercase border-b md:text-left">Delivery</h4>
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='What should I do if my order hasn\'t been delivred yet ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam
      eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia
      accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem
      autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam?
      Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How can I find your international delivery information ?')}}
    <p class="p-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita adipisci odit rem reprehenderit repellat
      inventore
      in voluptates, perspiciatis sequi incidunt minima quaerat excepturi eligendi veritatis tenetur omnis quae? Eius,
      illo
      quos necessitatibus consequatur repudiandae dicta a modi cupiditate sed fuga voluptatem ab mollitia suscipit ipsum
      fugiat libero optio porro pariatur facilis repellat incidunt, ipsa unde. Enim ex facere aspernatur, error
      provident
      architecto laboriosam, explicabo iste quas reiciendis consequatur eius voluptate obcaecati odit earum iusto velit
      voluptas nemo repellendus porro. Provident quaerat error, sit, a atque debitis veritatis molestiae odio, nesciunt
      praesentium architecto? Autem ipsum deleniti iusto. Vel saepe dolores assumenda?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='Who takes care of shipping ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptate qui nemo nostrum velit, quibusdam dolor
      illum atque in, ab totam soluta repellendus fugiat cupiditate et ducimus mollitia commodi perferendis.
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How do returns or refunds work ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam
      eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia
      accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem
      autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam?
      Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How do I use shipping profiles ?')}}
    <p class="p-4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, totam incidunt praesentium molestias voluptatum
      eaque delectus accusamus odit aspernatur repellendus, placeat, quisquam dolorem laborum harum. Quidem, explicabo
      nesciunt?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How does your UK Next Day delivery service work ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam
      eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia
      accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem
      autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam?
      Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='When will my order arrive ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam
      eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia
      accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem
      autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam?
      Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='When will my order ship ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam
      eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia
      accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem
      autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam?
      Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
</div>