<nav class="w-full my-auto text-xl text-center text-white list-none border divide-y-2 bg-primary-500">
  {{#each menu as |item|}}
    <li class="p-4" hx-get="/faq/{{ item }}" hx-target="#content" hx-swap="beforeend">{{capitalize item}}</li>
  {{/each}}
</nav>