<nav x-effect="console.log(currentRoute)" class="sticky top-0 w-1/4 max-h-full text-xl text-white list-none border divide-y-2 bg-primary-500">
  {{#each menu as |item|}}
    <li class="p-4" :class="currentRoute.includes('#{{ item }}') && 'border-l-2 border-white'"><a href="#{{ item }}">{{capitalize item}}</a></li>
  {{/each}}
</nav>