<nav x-effect="console.log(currentRoute)" class="w-full my-auto text-xl text-center text-white list-none border divide-y-2 bg-primary-500">
  <li class="p-4" hx-get="/faq/basics" hx-target="#content" hx-swap="beforeend">Basics</li>
  <li class="p-4" hx-get="/faq/mobile" hx-target="#content" hx-swap="beforeend">Mobile</li>
  <li class="p-4" hx-get="/faq/account" hx-target="#content" hx-swap="beforeend">Account</li>
  <li class="p-4" hx-get="/faq/payments" hx-target="#content" hx-swap="beforeend">Payments</li>
  <li class="p-4" hx-get="/faq/privacy" hx-target="#content" hx-swap="beforeend">Privacy</li>
  <li class="p-4" hx-get="/faq/delivery" hx-target="#content" hx-swap="beforeend">Delivery</li>
</nav>