<div id="mobile">
  <h4 class="text-center uppercase border-b md:text-left">Mobile</h4>
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How does syncing work ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quaerat vel saepe, neque alias ad tempora
      soluta enim aliquam deserunt. Autem ducimus temporibus, cupiditate quia perspiciatis porro culpa!
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How do I upload files from my phone or table ?')}}
    <p class="p-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita adipisci odit rem reprehenderit repellat
      inventore
      in voluptates, perspiciatis sequi incidunt minima quaerat excepturi eligendi veritatis tenetur omnis quae? Eius,
      illo
      quos necessitatibus consequatur repudiandae dicta a modi cupiditate sed fuga voluptatem ab mollitia suscipit ipsum
      fugiat libero optio porro pariatur facilis repellat incidunt, ipsa unde. Enim ex facere aspernatur, error
      provident
      architecto laboriosam, explicabo iste quas reiciendis consequatur eius voluptate obcaecati odit earum iusto velit
      voluptas nemo repellendus porro. Provident quaerat error, sit, a atque debitis veritatis molestiae odio, nesciunt
      praesentium architecto? Autem ipsum deleniti iusto. Vel saepe dolores assumenda?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='How to link to a file or folder ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus vel accusantium odio praesentium sint quae
      molestias, maiores quidem cum reprehenderit nisi aut perferendis suscipit magni consectetur officia blanditiis
      quis velit, eius facere debitis in neque facilis quasi? Architecto rerum corporis delectus provident at
      perferendis ipsa.
    </p>
  {{/collapse/chevron-right}}
</div>