<div id="payments">
  <h4 class="text-center uppercase border-b md:text-left">Payments</h4>
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='Can I have an invoice for my subscription ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam? Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='Why did my credit card or paypal payment fail ?')}}
    <p class="p-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita adipisci odit rem reprehenderit repellat inventore
      in voluptates, perspiciatis sequi incidunt minima quaerat excepturi eligendi veritatis tenetur omnis quae? Eius, illo
      quos necessitatibus consequatur repudiandae dicta a modi cupiditate sed fuga voluptatem ab mollitia suscipit ipsum
      fugiat libero optio porro pariatur facilis repellat incidunt, ipsa unde. Enim ex facere aspernatur, error provident
      architecto laboriosam, explicabo iste quas reiciendis consequatur eius voluptate obcaecati odit earum iusto velit
      voluptas nemo repellendus porro. Provident quaerat error, sit, a atque debitis veritatis molestiae odio, nesciunt
      praesentium architecto? Autem ipsum deleniti iusto. Vel saepe dolores assumenda?
    </p>
  {{/collapse/chevron-right}}
  {{#> collapse/chevron-right summary=(partial 'title/default' tag='h3' text='Why does my bank statement show multiple charges for one upgrade ?')}}
    <p class="p-4">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. In provident culpa quas! Neque perspiciatis ullam eveniet
      alias aspernatur officiis et consequuntur ipsa dolorum veritatis cumque minima nemo at molestias ut, quia accusantium
      illum fuga illo excepturi. Veniam dicta asperiores eligendi maiores aut adipisci nobis placeat voluptatum quidem autem
      suscipit hic, iste assumenda perspiciatis, magni tempore sed dolorem nisi corrupti porro laudantium itaque nam? Quis
      cumque ab laudantium cum necessitatibus saepe, iste inventore voluptatem consequatur pariatur?
    </p>
  {{/collapse/chevron-right}}
</div>